.form-container {
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.form-title{
    text-align: center;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    resize: none;
}

.quiz{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}
.quiz-actions{
    display: flex;
    gap: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.quiz button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.edit{
    text-decoration: none;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.quiz-title{
    text-decoration: none;
}
.quiz-title:hover{
    cursor: pointer;
}
