{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- <script src="{% static 'javascript/quiz.js' %}"></script> -->
<div class="container">
    <h1> {{ quiz.name }} </h1>
    <!-- <p> {{ quiz.description }} </p> -->
    <div>
        <p> Time left: <span id="timer">00:00</span></p>
    </div>
    <div id="quiz-container">
        <form method="POST" action="{% url 'take_quiz' quiz.id %}" id="quiz-form">
            {% csrf_token %}
            {% for question in questions_and_answers %}
            <div class="question-container mb-3">
                <h4> {{ question.question_text }} </h4>
                {% for answer in question.answer_set.all %}
                <div class="form form-group form-check">
                    <input type="checkbox" name="answer_{{ question.id }}" id="answer_{{ answer.id }}"
                        value="{{ answer.id }}" class="form-check-input">
                    <label for="answer_{{ answer.id }}" class="form-check-label">{{ answer.answer_text }}</label>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock %}