{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Your Quizzes</h1>
    {% if quizzes %}
    {% for quiz in quizzes %}
    <div class="quiz">
        <div class="container">
            <a href="{% url 'quiz_page' quiz.id %}" class="quiz-title">{{ quiz.name }}</a>
            <badge class="badge bg-secondary text-white">{{ quiz.category.name }}</badge>
            <div class="quiz-actions">
                <a href="{% url 'edit_quiz' quiz.id %}" class="btn btn-warning edit">
                    <i class="bi bi-pen-fill text-white"></i>
                </a>
                <form method="POST" action="{% url 'delete_quiz' quiz.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger"><i class="bi bi-trash3-fill"></i></button>
                </form>
            </div>
            <p class="card-text mt-3">{{ quiz.description }}</p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No Quizzes</p>
    {% endif %}
    <div class="text-center">
        <a href="{% url 'create_quiz' %}" class="btn btn-primary">Create Quiz</a>
    </div>
</div>
{% endblock %}